/* VARIÁVARIS */
:root {
    --cor-principal:#0077cc;
    --cor-houver: #00bfff;
    --cor-voltar: #ff6600;
    --cor-fundo: #f1f1f1; 
    --cor-texto: #333;
}

/*  REST */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAL */
header {
    background-color: var(--cor-principal);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* CONTEÚDO */
main {
    width: 90%;
    max-width: 100px;
    margin: 40px auto;
}

/* GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* MENU */
nav a {
    color: var(--cor-houver) !important;

}

/* VOLTAR */
.voltar {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    transition: 0.3s: ;
}
.voltar:houver {
    color: var(--cor-voltar)
}

/* RODAPÉ */
footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    padding: 20px;
}