@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Jim+Nightshade&family=Krona+One&display=swap');

:root {
    --cor-principal: #a868c4;
    --cor-houver: #452855;
    --cor-voltar: #3A6F43;
    --cor-fundo: #F3E2D4; 
    --cor-texto: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-principal);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family:  "Jim Nightshade", cursive;
}

main {
    width: 90%;
    max-width: 1050px;
    margin: 40px auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    scroll-behavior: smooth;
}

nav a {
    color: var(--cor-houver) !important;
    text-decoration: none;
    margin: 10px;

}

.voltar {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    transition: 0.3s ;
}
.voltar:houver {
    color: var(--cor-voltar)
}

/* RODAPÉ */
footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    padding: 20px;
}